<div class="bg-gray-100 p-2 shadow-xs cursor-default">
  <p class="font-bold mb-2 select-none" (click)="show = !show">Interfaces settings</p>


  <!-- interfaces list -->
  <div *ngIf="show">
    <div class="mb-4" *ngFor="let key of objectKeys(allInterfaces)">
      <div class="flex items-center justify-between w-full relative">
        <div (click)="setSettings(key)" class="absolute w-full h-full top-0 left-0 z-10"></div>
        <mat-checkbox (change)="change($event)" [name]="key">
          {{allInterfaces[key].title}}
        </mat-checkbox>
        <a *ngIf="getSettingData(key)" mat-icon-button class="text-gray-600">
          <mat-icon svgIcon="pencil"></mat-icon>
        </a>
      </div>

      <!-- interfaces settings -->
      <div *ngFor="let setting of objectKeys(allInterfaces[key].settings)">
        <div *ngIf="getSettingData(key, setting)" class="flex items-center">
          <div class="w-4 h-4">
            <mat-icon class="text-gray-600" inline [svgIcon]="allInterfaces[key].settings[setting].icon"></mat-icon>
          </div>
          <span class="text-xs">{{allInterfaces[key].settings[setting].title}}</span>
        </div>
      </div>
    </div>
  </div>
</div>