<div class="p-4 flex items-center max-w-6xl">
  <mat-form-field appearance="outline" class="flex-1">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search">
    <mat-icon matSuffix svgIcon="magnify"></mat-icon>
  </mat-form-field>
  <div class="pb-4 mx-4">
    <button mat-mini-fab color="primary" (click)="addItem()">
      <mat-icon svgIcon="plus"></mat-icon>
    </button>
  </div>
</div>

<div class="flex px-2 flex-wrap">
  <!-- Plants list -->
  <app-plant-card *ngFor="let plant of plants" [plant]="plant" (clickDelete)="delete($event)"
    (clickEdit)="edit($event)" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4"></app-plant-card>
</div>