<div class="bg-gray-400 px-4 py-1 flex justify-between items-center">
  <nav class="flex items-center text-gray-700">
    <a class="cursor-default p-2" [routerLink]="['/configuration']"
      routerLinkActive="bg-gray-600 text-gray-100">Configuration</a>
      <a class="cursor-default p-2" [routerLink]="['/dataentry']"
      routerLinkActive="bg-gray-600 text-gray-100">Data entry</a>
      <a class="cursor-default p-2" [routerLink]="['/calendar']"
      routerLinkActive="bg-gray-600 text-gray-100">Calendar</a>
  </nav>
  <div class="flex items-center">
    <svg-icon *ngIf="user" src="assets/svg_icons/account.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    <svg-icon *ngIf="!user" src="assets/svg_icons/account-cancel.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    <p *ngIf="user">{{user.login}}</p>
    <button *ngIf="user" class="pl-2 focus:outline-none" (click)="logout()">
      <svg-icon  src="assets/svg_icons/logout.svg" [svgStyle]="{ 'width.px':24 }"></svg-icon>
    </button>

  </div>
</div>