<div>
  <p mat-dialog-title>Plant settings</p>
  <div mat-dialog-content>
    <app-form [flex]='!isSmallScreen' [controls]='nameCode' [values]="plant" (form)="getForm($event)"></app-form>
    <app-form [flex]='!isSmallScreen' [controls]='address' [values]="plant" (form)="getForm($event)"></app-form>
  </div>
  <mat-dialog-actions class="flex justify-end">
    <button mat-button color="primary" mat-dialog-close>CANCEL</button>
    <button mat-raised-button color="primary" [disabled]='form.invalid' [mat-dialog-close]="plant">SAVE</button>
  </mat-dialog-actions>
</div>