<!-- <app-form [controls]="preConfig" (form)="getPreConfigForm($event)"></app-form> -->
<div *ngIf="list">
  <app-list [data]='list' (clickActionButton)='clickListsButton($event)'></app-list>
</div>
<button (click)="openDialog()" class="bg-red-700 p-4">OPEN DIALOG</button>

<app-editing-panel *ngIf='isShowPanels.edit' [options]='editOptions' [object]="editingObj" (clickOk)="updateObj($event)"
  (clickCancel)="isShowPanels.edit = null"></app-editing-panel>
<app-editing-panel *ngIf='isShowPanels.add' [options]='addNewOptions' (clickOk)="addObj($event)"
  (clickCancel)="isShowPanels.add = null"></app-editing-panel>

<div class="my-4" align="end">
  <button class="btn mx-2" *ngIf='!(isShowPanels.edit || isShowPanels.add)'
    (click)='isShowPanels.add = true'>
    Add
  </button>
</div>  