<section class="w-64 mx-auto shadow bg-gray-200">
  <!-- Header -->
  <header class="text-gray-300 bg-blue-600 px-4 py-2 flex justify-between">
    <div class="flex items-center">
      <!-- <svg-icon (click)="close()" src="assets/svg_icons/arrow-left.svg" [svgStyle]="{ 'width.px':24, 'fill': '#fff'}">
      </svg-icon> -->
      <span class="ml-2">{{title}}</span>
    </div>
  </header>


  <!-- Roles list -->
  <div class="p-4">
    <app-form [controls]="preConfig" (form)="getPreConfigForm($event)"></app-form>
    <div *ngIf="plantId">
      <div *ngFor="let dep of departments" class="flex pb-2 ">
        <!-- <svg-icon *ngIf="getChecked(dep)" (click)="toggleRole(dep)" src="assets/svg_icons/checkbox-marked.svg"
          [svgStyle]="{ 'width.px':24, 'fill': 'rgb(95,95,95)'}">
        </svg-icon> -->
        <!-- <svg-icon *ngIf="!getChecked(dep)" (click)="toggleRole(dep)" src="assets/svg_icons/checkbox-blank-outline.svg"
          [svgStyle]="{ 'width.px':24, 'fill': 'rgb(95,95,95)'}">
        </svg-icon> -->
        <div class="cursor-default pl-1" (click)="toggleRole(dep)">{{dep.name}}</div>
      </div>
    </div>
  </div>


</section>