  <div class="flex">
    <p class="px-2">Week: {{week}} ({{weekStr}})</p>
    <button class="focus:outline-none" (click)="prevWeek()">
      <svg-icon src="assets/svg_icons/arrow-left.svg" [svgStyle]="{ 'width.px':24}"> </svg-icon>
    </button>
    <button class="focus:outline-none" (click)="nextWeek()">
      <svg-icon src="assets/svg_icons/arrow-right.svg" [svgStyle]="{ 'width.px':24}"> </svg-icon>
    </button>
    <!-- <svg-icon src="assets/svg_icons/chevron-down.svg" [svgStyle]="{ 'width.px':24}"> </svg-icon> -->
  </div>