<mat-card *ngIf="shift" class="h-full">
  <div class="flex flex-col h-full">
    <div class="flex mb-1">
      <mat-icon class="mr-2" svgIcon="calendar" color="primary"></mat-icon>
      <p class="font-bold text-xl">{{shift.name}}</p>
    </div>
    <div class="flex text-gray-600 mb-1">
      <div class="mr-2 w-6"></div>
      <p class="text-sm">{{shift.description}}</p>
    </div>
    <div class="flex-1"></div>
    <div class="flex text-gray-100 mb-1">
      <div class="mr-2 w-6"></div>
      <div class=" px-4 py-1 rounded-sm" [ngClass]="shift.isActive ? 'bg-green-600' : 'bg-gray-400'">
        <p class="text-base">Active</p>
      </div>
    </div>
    <div align="end" class="-mb-2 -mx-2 text-gray-600">
      <button mat-icon-button (click)="delete()">
        <mat-icon svgIcon="delete-outline"></mat-icon>
      </button>
      <button mat-icon-button (click)="edit()">
        <mat-icon svgIcon="pencil-outline"></mat-icon>
      </button>
    </div>
  </div>
</mat-card>