<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened class="h-full">
    <div class="flex flex-col items-center my-4">
      <div class="bg-blue-400 h-16 w-16 rounded-full flex justify-center items-center mb-2">
        <div class="text-gray-100 text-3xl">NL</div>
      </div>
      <p class="mat-h3 ">Name Lastname</p>
    </div>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/calendar']">
        <mat-icon mat-list-icon svgIcon="calendar-month-outline"></mat-icon>
        <p mat-line class="">Calendar</p>
      </mat-list-item>
      <div class="text-xs font-bold mt-8 mx-4">CONFIGURATION</div>

      <mat-list-item *ngFor="let item of config" [routerLink]="'./' + item.key" >
        <mat-icon mat-list-icon [svgIcon]="item.icon" routerLinkActive="mat-primary"></mat-icon>
        <div mat-line routerLinkActive="mat-primary"> {{item.title}} </div>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon svgIcon="logout"></mat-icon>
        <p mat-line> Logout</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>