<p>===Configuration===</p>
<div class="border-2 border-gray-600 border-solid mb-5 p-4 rounded-lg shadow-lg max-w-4xl">
  <p class="font-bold mr-4 text-xl cursor-default" (click)="isShow.configPlant = !isShow.configPlant">Plants configuration</p>
  <app-config-plants *ngIf="isShow.configPlant"></app-config-plants>
</div>


<!-- <app-list [data]='data' (clickActionButton)='clickList($event)'></app-list>
<div *ngFor="let i of formConfiguration"
  class="max-w-xs mb-5 border-solid border-2 border-gray-600 p-4 rounded-lg  shadow-lg">
  <div class="my-4">
    <span class="mr-4 font-bold text-xl">{{i.label}}</span>
    <button class="ml-2" [class.disabled]='!i.enableShowList' [disabled]='!i.enableShowList'
      (click)="i.isShowList = !i.isShowList">show list...</button>
  </div>
  <div class="my-4" *ngIf="i.isShowList">
    <div *ngFor="let plant of i.list">
      <div class="flex justify-between items-center p-1">
        <span>{{plant.name}}</span>
        <div>          
        </div>
        <button class="btn p-1 " (click)='editPlant(plant.plantId)'>Edit</button>
        <button class="btn p-1" (click)='deletePlant(plant.plantId)'>delete</button>
      </div>
      <hr>
    </div>
  </div>
  <div class="my-4">
    <select class="p-2 w-full " name="" id="">
      <option value="" class="bg-red">--Select {{i.label}}--</option>
      <option *ngFor="let option of i.options" [value]="option.value">{{option.valueView}}</option>
    </select>
  </div>
  <div class="my-4" *ngIf='showedAddForm === i.key'>
    <app-form [controls]="configControls[i.key]" (form)="childFormCreated($event)"></app-form>
  </div>
  <div class="my-4" align="end" *ngIf='showedAddForm === i.key'>
    <button class="btn mx-2" (click)='showedAddForm = null'>Cancel</button>
    <button class="btn mx-2" (click)='addItem(i.key)' [disabled]="childForm.invalid"
      [class.disabled]='childForm.invalid'>Add</button>
  </div>
  <div class="my-4" align="end" *ngIf='showedAddForm !== i.key'>
    <button class="btn mx-2" (click)='showedAddForm = i.key'>Add</button>
  </div>
</div> -->