<p>list works!</p>
<div *ngFor="let plant of data">
  <div class="flex justify-between items-center p-1">
    <span>{{plant.name}}</span>
    <div>
    </div>
    <button class="btn p-1" (click)='editPlant(plant.plantId)'>Edit</button>
    <button class="btn p-1" (click)='deletePlant(plant.plantId)'>delete</button>
  </div>
  <hr>
</div>

<table class="table-auto">
  <thead>
    <tr>
      <th *ngFor='let title of head' class="px-4 py-2">{{title}}</th>
      <th class="px-4 py-2">actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of data'>
      <td * class="border px-4 py-2"></td>

    </tr>

    <tr>
      <td class="border px-4 py-2">Intro to CSS</td>
      <td class="border px-4 py-2">Adam</td>
      <td class="border px-4 py-2">858</td>
    </tr>
    <tr class="bg-gray-100">
      <td class="border px-4 py-2">A Long and Winding Tour of the History of UI Frameworks and Tools and the Impact on
        Design</td>
      <td class="border px-4 py-2">Adam</td>
      <td class="border px-4 py-2">112</td>
    </tr>
    <tr>
      <td class="border px-4 py-2">Into to JavaScript</td>
      <td class="border px-4 py-2">Chris</td>
      <td class="border px-4 py-2">1,280</td>
    </tr>
  </tbody>
</table>