<mat-form-field appearance="outline">
	<mat-label>Search</mat-label>
	<input matInput type="text" [formControl]="search" />
	<mat-icon matSuffix svgIcon="magnify"></mat-icon>
</mat-form-field>
<mat-checkbox color="primary" (change)="selectAll($event)" [checked]="this.filteredUsers.length <= this.checkedUsers.length" class="mb-3">Select all</mat-checkbox>
<div *ngFor="let user of filteredUsers" class="mb-3">
	<mat-checkbox color="primary" (change)="onChange($event, user)" [checked]="checkedUsers.indexOf(user.userId) != -1">
		<p>{{ user.firstName }} {{ user.secondName }}</p>
		<p class="text-xs text-gray-500">{{ user.email }}</p>
	</mat-checkbox>
</div>