<section class="h-full flex flex-col justify-center items-center">
  <!-- Main window -->
  <div class="flex justify-center">
    <div class="m-2">
      <button (click)="goBack()" mat-stroked-button color="primary">CANCEL</button>
    </div>
    <div *ngIf="isSaveEnabled" class="m-2">
      <button (click)="save()" mat-flat-button color="primary">SAVE</button>
    </div>
    <div *ngIf="isSaveEnabled" class="m-2">
      <button (click)="submitDataEntry()" mat-flat-button color="primary">SUBMIT</button>
    </div>
  </div>
  <div class="p-2 overflow-auto">
    <div>
      <app-grid [options]="options" [dashboard]="dashboard" [form]="form"></app-grid>
    </div>
  </div>
</section> 