<div class="h-full w-full overflow-auto ">
  <div [ngStyle]="gridSize" class="mx-auto">
    <gridster [options]="optionsResult" [style.background-color]="optionsResult.bgColor">
      <gridster-item *ngFor="let item of dashboard" [class.isCurrent]='item.controlId === selectedItemId'
        [item]="item.gridItem" [style.background-color]="getBackground(item)"
        (click)="itemClick($event, item.controlId)">
        <app-dynamic-controls [control]="item" [form]="form"></app-dynamic-controls>
      </gridster-item>
    </gridster>
  </div>
</div>


<!-- <gridster-item class="gridster__item" [class.isCurrent]='item.controlId === selectedItemId'
*ngFor="let item of dashboard" [item]="item.gridItem" (click)="itemClick($event, item.controlId)"
[style.background-color]="getBackground(item)">
<app-dynamic-controls [control]="item.control" [form]="form"></app-dynamic-controls>
</gridster-item> -->