<!-- <section class="main h-screen flex-col">   -->
<!-- <app-header></app-header> -->
<!-- <div class="flex-1"> -->
<!-- <router-outlet></!-->
<!-- </div> -->
<!-- </section> -->
<mat-sidenav-container class="h-full" autosize>
  <mat-sidenav mode="side" opened class="h-full" [ngStyle]="{'width.px': isSmall ? 72 : 256}">
    <div class="m-4">
      <a mat-icon-button>
        <mat-icon svgIcon="menu" (click)="isSmall = !isSmall">icon_name</mat-icon>
      </a>
    </div>
    <div *ngIf="!isSmall && abbreviation" class="flex flex-col items-center my-4">
      <div class="bg-blue-400 h-16 w-16 rounded-full flex justify-center items-center mb-2">
        <div class="text-gray-100 text-3xl">{{abbreviation}}</div>
      </div>
      <div class="flex items-center">
        <a class="text-normal">{{userName}} </a>
        <mat-icon svgIcon="pencil"></mat-icon>
      </div>
    </div>
    <mat-nav-list>
      <mat-list-item [routerLink]="['/calendar']">
        <mat-icon mat-list-icon svgIcon="calendar-month"></mat-icon>
        <p mat-line *ngIf="!isSmall" class="">Calendar</p>
      </mat-list-item>
      <div *ngIf="!isSmall" class="text-xs font-bold mt-8 mx-4">CONFIGURATION</div>

      <mat-list-item *ngFor="let item of config" [routerLink]="'./' + item.key">
        <mat-icon mat-list-icon [svgIcon]="item.icon" routerLinkActive="mat-primary"></mat-icon>
        <p *ngIf="!isSmall" mat-line routerLinkActive="mat-primary"> {{item.title}} </p>
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon mat-list-icon svgIcon="logout"></mat-icon>
        <p mat-line *ngIf="!isSmall"> Logout</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-message></app-message>
<app-dialog></app-dialog>