<div class="flex justify-between">
  <p mat-dialog-title>Control settings</p>
  <button mat-button color='warn' [disabled]="isDisableDelete" [mat-dialog-close]="'clickDelete'"> Delete control
    <mat-icon svgIcon="delete"></mat-icon>
  </button>
</div>
<div class="flex relative">
  <div class="mr-2 w-64">
    <app-form [controls]='data.control.settings' [values]='data.control' (form)="getControlForm($event)"></app-form>
  </div>
  <mat-divider [vertical]="true"> </mat-divider>
  <div *ngIf="data.interfaces.length" class="pl-2 w-64">
    <div class="relative">
      <app-form class="cursor-default" (click)="setDataSource()" [controls]='datasourceControls'
        [values]=datasourceValues></app-form>
      <div *ngIf="datasourceValues.datasource" class="absolute top-0 right-0">
        <p (click)="datasourceClear()" class="text-xs bg-white px-1 mr-1 cursor-default">Clear</p>
      </div>
    </div>
    <div *ngIf="interfacesList" class="form-field  ">
      <div class="form-field-label-container">
        <label class="form-field-label">Interface setting</label>
      </div>
      <div *ngFor="let i of interfacesList; last as last" class="mb-2 relative">
        <div *ngIf="!i.disabled" (click)="changeInterface(i)" class="absolute w-full h-full top-0 left-0 z-10"></div>
        <mat-checkbox color='primary' [checked]='i.checked' [disabled]="i.disabled">{{i.label}}</mat-checkbox>
        <!-- <mat-checkbox [name]="i.name" (change)="changeInterface($event)" [checked]='interfacesList.checked' color='primary'
          [disabled]="i.disabled">
          {{i.label}}</mat-checkbox> -->
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions class="flex justify-end">
  <button mat-button color="primary" mat-dialog-close>CANCEL</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="primary" [mat-dialog-close]="result" [disabled]='form.invalid'>SAVE</button>
</mat-dialog-actions>