<div class="flex justify-between">
  <p mat-dialog-title>Control settings</p>
  <button mat-icon-button>
    <mat-icon svgIcon="delete"></mat-icon>
  </button>
</div>
<div class="flex relative">
  <div class="mr-2 w-64">
    <app-form [controls]='control.settings' [values]='control' (form)="getControlForm($event)"></app-form>
    <div class="relative">
      <app-form class="cursor-default" (click)="setDataSource()" [controls]='datasourceControls'
        [values]=datasourceValues></app-form>
      <div *ngIf="datasourceValues.datasource" class="absolute top-0 right-0">
        <p (click)="datasourceClear()" class="text-xs bg-white px-1 mr-1 cursor-default">Clear</p>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true"> </mat-divider>
  <div class="pl-2 w-64">
    <div class="form-field focus:bg-gray-300">
      <div class="form-field-label-container">
        <label class="form-field-label">Interface setting</label>
      </div>
      <div *ngFor="let i of interfaces; last as last" class="mb-2">
        <mat-checkbox [name]="i.name" (change)="changeInterface($event)" [checked]="i.checked" color='primary'
          [disabled]="i.disabled">
          {{i.label}}</mat-checkbox>
      </div>
    </div>
  </div>
</div>



<mat-dialog-actions class="flex justify-end">
  <button mat-button color="primary" mat-dialog-close>CANCEL</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-raised-button color="primary" [mat-dialog-close]="result">SAVE</button>
</mat-dialog-actions>