<div class="p-4 flex items-center max-w-6xl">
  <mat-form-field appearance="outline" class="flex-1">
    <mat-label>Search</mat-label>
    <div matSuffix class="flex items-center text-gray-500">
      <mat-icon svgIcon="magnify"></mat-icon>
    </div>
    <input matInput placeholder="Search" [formControl]='search' autocomplete="'false'">
  </mat-form-field>
  <div class="pb-4 mx-4">
    <button mat-mini-fab color="primary" (click)="addItem()">
      <mat-icon svgIcon="plus"></mat-icon>
    </button>
  </div>
</div>


<div class="">
  <!-- users list -->
  <div *ngFor="let user of filterUsers" class="p-2 max-w-6xl">
    <app-user-card [user]="user" (clickEdit)="edit($event)"></app-user-card>
  </div>
</div>