<section class="w-screen h-screen fixed top-0 left-0 flex flex-col bg-white">

  <!-- Header -->
  <header class="bg-blue-600 px-4 py-2">
    <svg (click)="goBack()" class="inline mr-2 fill-current w-6 h-6 mr-6" viewBox="0 0 24 24">
      <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
    </svg>
    <span>Create template</span>
  </header>

  <div class="flex flex-1 overflow-auto">

    <!-- Sidebar -->

    <div class="w-64 p-2 overflow-y-auto">
      <app-general-config></app-general-config>
      <app-gridster-config></app-gridster-config>
      <app-interfaces-config></app-interfaces-config>
      <p class="inline-block p-2 whitespace-no-wrap" draggable="true" (dragstart)="dragStartHandler($event, 'Drag')">
        Drag me</p>
    </div>

    <!-- Main window -->
    <div class=" p-2 flex-1 overflow-auto">
      <app-grid (clickItem)="clickItem($event)" (dropNewItem)="dropNewItem($event)"
        (dashboardChange)="dashboardChange($event)" [dashboard]="dashboard" [appointment]="appointment"> </app-grid>
    </div>
  </div>
</section>