<section *ngIf="template" class="w-full h-full top-0 left-0 flex flex-col bg-white">

  <!-- Header -->
  <header class="text-gray-300 bg-blue-600 px-4 py-2 flex justify-between">
    <div class="flex items-center">
      <svg (click)="goBack()" class="inline mr-2 fill-current w-6 h-6 mr-6" viewBox="0 0 24 24">
        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
      </svg>
      <span>{{title}}</span>
    </div>
    <button class="font-bold text-xs px-2" (click)="save()">{{saveButton}}</button>
  </header>

  <div class="flex flex-1 overflow-auto">

    <!-- Sidebar -->

    <div class="w-64 p-2 overflow-y-auto">
      <app-general-config (form)="getFormGeneral($event)" [template]='template'></app-general-config>
      <app-gridster-config [options]='options' (form)="getFormGridsterOptions($event)">
      </app-gridster-config>
      <app-interfaces-config *ngIf="template.templateId"  [templateId]="template.templateId" (changeSettings)="changeSettingsInterface($event)" (changeStatus)="changeStatusInterface($event)"></app-interfaces-config>
      <app-controls-list (draggableControl)="setTypeNewControl($event)"></app-controls-list>
      <app-control-config *ngIf="selectedControl" [control]="selectedControl" (deleteControl)='deleteControl($event)'></app-control-config>
    </div>

    <!-- Main window -->
    <div class=" p-2 flex-1 overflow-auto h-full ">
      
      <!-- template info panel-->
      <!-- <div class="absolute z-50 right-0 flex flex-col h-full overflow-auto">
        <p class=" cursor-pointer btn" (click)="isShowTemplateInfo = !isShowTemplateInfo">Template info</p>
        <div *ngIf="isShowTemplateInfo" class="bg-gray-200 p-3 overflow-auto">
          <pre class="text-xs">
            {{template | json}}
          </pre>
        </div>
      </div> -->

      <app-grid (clickItem)="clickItem($event)" (dropNewItem)="dropNewItem($event)"
        (dashboardChange)="dashboardChange($event)" [options]="options" [dashboard]="dashboard"
        [appointment]="appointment" [selectedControlId]='selectedControl?.controlId'></app-grid>
    </div>
  </div>
</section>