<mat-card *ngIf="plant" class="m-2">
  <div class="flex mb-1">
    <mat-icon class="mr-2" svgIcon="factory" color="primary"></mat-icon>
    <p class="font-bold text-xl">{{plant.name}}</p>
  </div>
  <div class="flex text-gray-600 mb-1">
    <div class="mr-2 w-6"></div>
    <p class="text-sm">{{code}}</p>
  </div>
  <div class="flex text-gray-600 mb-1">
    <mat-icon style="height: 16px;" class="mr-2" svgIcon="map-marker"></mat-icon>
    <p class="text-sm">{{address}}</p>
  </div>
  <mat-card-actions align="end" class="text-gray-600">
    <button mat-icon-button (click)="delete()">
      <mat-icon svgIcon="delete-outline"></mat-icon>
    </button>
    <button mat-icon-button (click)="edit()">
      <mat-icon svgIcon="pencil-outline"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>