<div *ngIf="user" class="m-2 bg-gray-300 shadow w-64  p-4 ">
  <div class="mr-2">

    <div class="mb-4">
      <!-- Name -->
      <p class="font-bold leading-tight mb-1">{{firstName}} {{secondName}}</p>

      <!-- Login -->
      <div class="flex">
        <p class="text-xs text-gray-800 leading-tight">
          Login: {{login}} ({{isActive ? 'active' : 'inactive'}} user)
        </p>
      </div>

      <div class="flex items-center">
        <svg-icon src="assets/svg_icons/at.svg" [svgStyle]="{ 'width.px':16, 'fill': '#5F5F5F' }"></svg-icon>
        <p class="ml-1 text-xs text-gray-800 leading-tight"> {{email}}</p>
      </div>

    </div>

    <!-- Active buttons -->
    <div class="flex justify-between">
      <button (click)="edit()" class="focus:outline-none">
        <svg-icon src="assets/svg_icons/pencil-outline.svg" [svgStyle]="{ 'width.px':24, 'fill': '#5F5F5F' }">
        </svg-icon>
      </button>
      <div class="text-xs">
        <button (click)="clickDepartments.emit(user.userId)" class="bg-white shadow p-1 mr-2">Departments</button>
        <button (click)="clickRoles.emit(user.userId)" class="bg-white shadow p-1">Roles</button>
      </div>

    </div>
  </div>

</div>