<div id='error' role="alert" class="absolute inset-0  mt-10 max-w-md mx-auto">
  <div class="flex justify-between bg-red-500 text-white font-bold">
    <div class="  rounded-t px-4 py-2">
      Danger
    </div>
    <button class="px-2 mx-2 focus:outline-none">
      <img class="w-5" src="../../../assets/baseline_close_white_24dp.png" alt="">
    </button>
  </div>
  <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
    <p>Something not ideal might be happening.</p>
    

  </div>
</div>