<div #shiftEl class="relative shadow bg-white h-full border-l-4 overflow-hidden overflow-x-hidden" [ngClass]="shift.elClass">
  <div #templateListEl class="p-1">
    <div class="flex relative">
      <span class="truncate text-sm font-bold m-auto">{{shift.schedule.shiftName}}</span>
      <div class="flex absolute 2-4 h-4 right-2 text-black">
        <span class="text-sm font-bold ml-2 cursor-pointer" (click)="clickChecklist()">Checklist</span>
      </div>
    </div>
    <div *ngFor="let template of showedTemplates" (click)="clickTemplate(template)"
      class="min-w-full mt-2 p-1 cursor-pointer flex rounded shadow" [ngClass]="template.style.styleClass">
      <mat-icon svgIcon="{{template.style.name}}" [ngStyle]="template.style.styleSvg"></mat-icon>
      <p  class="truncate flex-1 ml-1">
        {{template.template.name}}</p>
    </div>
    <div (click)="showMore()" *ngIf="hiddenTemplates.length" class=" w-full pr-3 cursor-pointer absolute bottom-0 ">
      <div class="flex items-center justify-between text-gray-500  ">
        <p class="m-1 text-base font-bold truncate"> + {{hiddenTemplates.length}} more... </p>
        <div class="h-4 w-4" *ngIf="showedTemplates.length">
          <mat-icon inline svgIcon="chevron-down"></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>