<div class="shadow bg-white h-full border-l-4  overflow-auto" [ngClass]="shift.elClass">
  <!-- <pre>{{shift.isActive}}</pre> -->
  <div class="p-1">
    <p class="truncate text-sm font-bold text-center">{{shift.schedule.shiftName}}</p>
    <div *ngFor="let template of templates" class="cursor-pointer flex m-1 p-1 rounded shadow"
      [ngClass]="template.style.styleClass">
      <mat-icon svgIcon="{{template.style.name}}" [ngStyle]="template.style.styleSvg"></mat-icon>
      <p (click)="clickTemplate(template)" class="truncate flex-1 "> {{template.template.name}}</p>
    </div>
  </div>
</div>