/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './tailwindcss/custom-components/index.scss';
@import 'tailwindcss/utilities';
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .button{
//   @apply 
// }

.disabled{
  opacity: 50%;
}
.w-100 {
  width: 25rem;
}

.min-h-10 {
  min-height: 2.5rem;
}