<app-form [controls]="preConfig" (form)="getPreConfigForm($event)"></app-form>
<!-- <div *ngIf="list && list.tableData.length"> -->
<div class="my-4" align="end">
  <button class="btn mx-2" *ngIf='preConfigForm.valid && !(isShowPanels.edit || isShowPanels.add)' (click)="add()"
    [routerLink]="[ '/template' ]">
    Add Template
  </button>
</div>
<div>
  <app-tile [data]='list' (clickActionButton)='clickListsButton($event)'></app-tile>
</div>

<!-- <app-editing-panel *ngIf='isShowPanels.edit' [options]='editOptions' [object]="editingObj" (clickOk)="updateObj($event)"
  (clickCancel)="isShowPanels.edit = null"></app-editing-panel>
<app-editing-panel *ngIf='isShowPanels.add' [options]='addNewOptions' (clickOk)="addObj($event)"
  (clickCancel)="isShowPanels.add = null"></app-editing-panel> -->